@namespace Lumeo.Docs.Shared.Patterns

<Stack Gap="3">
<PatternCard Label="Default" Code="@_codeCheckboxDefault">
    <Flex Gap="2" Align="center">
        <Checkbox @bind-Checked="_checkbox1" />
        <Label>Accept terms and conditions</Label>
    </Flex>
</PatternCard>
<PatternCard Label="Checked" Code="@_codeCheckboxChecked">
    <Flex Gap="2" Align="center">
        <Checkbox Checked="true" />
        <Label>Enabled by default</Label>
    </Flex>
</PatternCard>
</Stack>

@code {
    private bool _checkbox1;

        private string _codeCheckboxDefault = @"<Flex Align=""center"" Gap=""2"">
        <Checkbox @bind-Checked=""_checked"" />
        <Label>Accept terms and conditions</Label>
    </Flex>";

        private string _codeCheckboxChecked = @"<Flex Align=""center"" Gap=""2"">
        <Checkbox Checked=""true"" />
        <Label>Enabled by default</Label>
    </Flex>";
}
