@namespace Lumeo.Docs.Shared.Patterns

<section>
    @if (ShowHeading)
    {
        <Heading Level="5" Class="mb-4">@Title</Heading>
    }
    @ChildContent
</section>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public bool ShowHeading { get; set; } = true;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
