@namespace Lumeo.Docs.Shared.Patterns

<Stack Gap="3">
<PatternCard Label="Default" Code="@_codeSpinnerDefault">
    <Spinner />
</PatternCard>

<PatternCard Label="Sizes" Code="@_codeSpinnerSizes">
    <Flex Gap="6" Align="center" Justify="center">
        <Spinner Size="Spinner.SpinnerSize.Sm" />
        <Spinner Size="Spinner.SpinnerSize.Default" />
        <Spinner Size="Spinner.SpinnerSize.Lg" />
    </Flex>
</PatternCard>
<PatternCard Label="With Button" Code="@_codeSpinnerButton">
    <Button Variant="Button.ButtonVariant.Outline" Disabled="true">
        <Spinner Size="Spinner.SpinnerSize.Sm" Class="mr-2" />
        Loading...
    </Button>
</PatternCard>
</Stack>

@code {
        private string _codeSpinnerDefault = @"<Spinner />";
        private string _codeSpinnerSizes = @"<Spinner Size=""Spinner.SpinnerSize.Sm"" />
    <Spinner Size=""Spinner.SpinnerSize.Default"" />
    <Spinner Size=""Spinner.SpinnerSize.Lg"" />";

        private string _codeSpinnerButton = @"<Button Variant=""Button.ButtonVariant.Outline"" Disabled=""true"">
        <Spinner Size=""Spinner.SpinnerSize.Sm"" Class=""mr-2"" />
        Loading...
    </Button>";
}
