@namespace Lumeo.Docs.Shared.Patterns

<Stack Gap="3">
<PatternCard Label="Default" Code="@_codeSwitchDefault">
    <Flex Gap="2" Align="center">
        <Switch @bind-Checked="_switch1" />
        <Label>Airplane Mode</Label>
    </Flex>
</PatternCard>
<PatternCard Label="Checked" Code="@_codeSwitchChecked">
    <Flex Gap="2" Align="center">
        <Switch Checked="true" />
        <Label>Active</Label>
    </Flex>
</PatternCard>
</Stack>

@code {
    private bool _switch1;

        private string _codeSwitchDefault = @"<Flex Align=""center"" Gap=""2"">
        <Switch @bind-Checked=""_checked"" />
        <Label>Airplane Mode</Label>
    </Flex>";

        private string _codeSwitchChecked = @"<Flex Align=""center"" Gap=""2"">
        <Switch Checked=""true"" />
        <Label>Active</Label>
    </Flex>";
}
