@namespace Lumeo
@implements IDisposable

@{
    var context = new TooltipContext(_isOpen);
}

<div class="relative inline-flex" @onmouseenter="HandleMouseEnter" @onmouseleave="HandleMouseLeave" @attributes="AdditionalAttributes">
    <CascadingValue Value="context" IsFixed="false">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public int ShowDelay { get; set; } = 200;
    [Parameter] public int HideDelay { get; set; } = 0;
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private bool _isOpen;
    private readonly DelayedDispatch _dispatch = new();

    private void HandleMouseEnter()
    {
        _dispatch.Cancel();
        if (ShowDelay <= 0)
        {
            _isOpen = true;
            StateHasChanged();
        }
        else
        {
            _dispatch.Schedule(ShowDelay, () => InvokeAsync(() =>
            {
                _isOpen = true;
                StateHasChanged();
                return Task.CompletedTask;
            }));
        }
    }

    private void HandleMouseLeave()
    {
        _dispatch.Cancel();
        if (HideDelay <= 0)
        {
            _isOpen = false;
            StateHasChanged();
        }
        else
        {
            _dispatch.Schedule(HideDelay, () => InvokeAsync(() =>
            {
                _isOpen = false;
                StateHasChanged();
                return Task.CompletedTask;
            }));
        }
    }

    public void Dispose() => _dispatch.Dispose();

    public record TooltipContext(bool IsOpen);
}
