@page "/components/dropdown-menu"

<PageTitle>Dropdown Menu — Lumeo</PageTitle>

<PageHeader Title="Dropdown Menu" Description="Displays a menu of actions or options triggered by a button." />

<div class="space-y-8">
    <ComponentDemo Title="Default" Code="@_defaultCode">
        <DropdownMenu>
            <DropdownMenuTrigger>
                <Button Variant="Button.ButtonVariant.Outline">
                    Open
                    <Blazicon Svg="Lucide.ChevronDown" class="ml-2 h-4 w-4" />
                </Button>
            </DropdownMenuTrigger>
            <DropdownMenuContent>
                <DropdownMenuLabel>My Account</DropdownMenuLabel>
                <DropdownMenuSeparator />
                <DropdownMenuItem>Profile</DropdownMenuItem>
                <DropdownMenuItem>Settings</DropdownMenuItem>
                <DropdownMenuItem>Billing</DropdownMenuItem>
                <DropdownMenuSeparator />
                <DropdownMenuItem>Log out</DropdownMenuItem>
            </DropdownMenuContent>
        </DropdownMenu>
    </ComponentDemo>

    <ComponentDemo Title="With Groups" Code="@_groupCode">
        <DropdownMenu>
            <DropdownMenuTrigger>
                <Button Variant="Button.ButtonVariant.Outline">
                    Actions
                    <Blazicon Svg="Lucide.ChevronDown" class="ml-2 h-4 w-4" />
                </Button>
            </DropdownMenuTrigger>
            <DropdownMenuContent>
                <DropdownMenuLabel>File</DropdownMenuLabel>
                <DropdownMenuGroup>
                    <DropdownMenuItem>New File</DropdownMenuItem>
                    <DropdownMenuItem>Open File</DropdownMenuItem>
                    <DropdownMenuItem>Save</DropdownMenuItem>
                </DropdownMenuGroup>
                <DropdownMenuSeparator />
                <DropdownMenuLabel>Edit</DropdownMenuLabel>
                <DropdownMenuGroup>
                    <DropdownMenuItem>Undo</DropdownMenuItem>
                    <DropdownMenuItem>Redo</DropdownMenuItem>
                </DropdownMenuGroup>
                <DropdownMenuSeparator />
                <DropdownMenuItem Disabled="true">Delete</DropdownMenuItem>
            </DropdownMenuContent>
        </DropdownMenu>
    </ComponentDemo>

    <ComponentDemo Title="Alignment" Code="@_alignCode">
        <div class="flex gap-4">
            <DropdownMenu>
                <DropdownMenuTrigger>
                    <Button Variant="Button.ButtonVariant.Outline" Size="Button.ButtonSize.Sm">Start</Button>
                </DropdownMenuTrigger>
                <DropdownMenuContent Align="DropdownMenuContent.DropdownMenuAlign.Start">
                    <DropdownMenuItem>Option 1</DropdownMenuItem>
                    <DropdownMenuItem>Option 2</DropdownMenuItem>
                    <DropdownMenuItem>Option 3</DropdownMenuItem>
                </DropdownMenuContent>
            </DropdownMenu>
            <DropdownMenu>
                <DropdownMenuTrigger>
                    <Button Variant="Button.ButtonVariant.Outline" Size="Button.ButtonSize.Sm">End</Button>
                </DropdownMenuTrigger>
                <DropdownMenuContent Align="DropdownMenuContent.DropdownMenuAlign.End">
                    <DropdownMenuItem>Option 1</DropdownMenuItem>
                    <DropdownMenuItem>Option 2</DropdownMenuItem>
                    <DropdownMenuItem>Option 3</DropdownMenuItem>
                </DropdownMenuContent>
            </DropdownMenu>
        </div>
    </ComponentDemo>
</div>

@code {
    private string _defaultCode = @"<DropdownMenu>
    <DropdownMenuTrigger>
        <Button Variant=""Button.ButtonVariant.Outline"">Open</Button>
    </DropdownMenuTrigger>
    <DropdownMenuContent>
        <DropdownMenuLabel>My Account</DropdownMenuLabel>
        <DropdownMenuSeparator />
        <DropdownMenuItem>Profile</DropdownMenuItem>
        <DropdownMenuItem>Settings</DropdownMenuItem>
        <DropdownMenuItem>Billing</DropdownMenuItem>
        <DropdownMenuSeparator />
        <DropdownMenuItem>Log out</DropdownMenuItem>
    </DropdownMenuContent>
</DropdownMenu>";

    private string _groupCode = @"<DropdownMenu>
    <DropdownMenuTrigger>
        <Button Variant=""Button.ButtonVariant.Outline"">Actions</Button>
    </DropdownMenuTrigger>
    <DropdownMenuContent>
        <DropdownMenuLabel>File</DropdownMenuLabel>
        <DropdownMenuGroup>
            <DropdownMenuItem>New File</DropdownMenuItem>
            <DropdownMenuItem>Open File</DropdownMenuItem>
            <DropdownMenuItem>Save</DropdownMenuItem>
        </DropdownMenuGroup>
        <DropdownMenuSeparator />
        <DropdownMenuLabel>Edit</DropdownMenuLabel>
        <DropdownMenuGroup>
            <DropdownMenuItem>Undo</DropdownMenuItem>
            <DropdownMenuItem>Redo</DropdownMenuItem>
        </DropdownMenuGroup>
        <DropdownMenuSeparator />
        <DropdownMenuItem Disabled=""true"">Delete</DropdownMenuItem>
    </DropdownMenuContent>
</DropdownMenu>";

    private string _alignCode = @"<DropdownMenu>
    <DropdownMenuTrigger>
        <Button Variant=""Button.ButtonVariant.Outline"">Start</Button>
    </DropdownMenuTrigger>
    <DropdownMenuContent Align=""DropdownMenuContent.DropdownMenuAlign.Start"">
        <DropdownMenuItem>Option 1</DropdownMenuItem>
        <DropdownMenuItem>Option 2</DropdownMenuItem>
    </DropdownMenuContent>
</DropdownMenu>

<DropdownMenu>
    <DropdownMenuTrigger>
        <Button Variant=""Button.ButtonVariant.Outline"">End</Button>
    </DropdownMenuTrigger>
    <DropdownMenuContent Align=""DropdownMenuContent.DropdownMenuAlign.End"">
        <DropdownMenuItem>Option 1</DropdownMenuItem>
        <DropdownMenuItem>Option 2</DropdownMenuItem>
    </DropdownMenuContent>
</DropdownMenu>";
}
