@namespace Lumeo

@if (Context.ActiveItemId is not null)
{
    <div class="@CssClass" @attributes="AdditionalAttributes">
        <div class="relative top-[60%] h-2 w-2 rotate-45 rounded-tl-sm bg-border shadow-md"></div>
    </div>
}

@code {
    [CascadingParameter] public NavigationMenu.NavigationMenuContext Context { get; set; } = default!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => $"absolute bottom-0 z-[1] flex h-1.5 items-end justify-center overflow-hidden {Class}".Trim();
}
