@namespace Lumeo

<div class="@CssClass" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public AvatarSize Size { get; set; } = AvatarSize.Default;
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => $"relative flex shrink-0 overflow-hidden rounded-full {SizeClasses} {Class}".Trim();

    private string SizeClasses => Size switch
    {
        AvatarSize.Sm => "h-8 w-8",
        AvatarSize.Default => "h-10 w-10",
        AvatarSize.Lg => "h-12 w-12",
        _ => "h-10 w-10"
    };

    public enum AvatarSize { Sm, Default, Lg }
}
