@namespace Lumeo

<li role="presentation" class="@CssClass" @attributes="AdditionalAttributes">
    <Blazicon Svg="Lucide.Ellipsis" class="h-4 w-4" />
    <span class="sr-only">More</span>
</li>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => $"flex items-center justify-center {Class}".Trim();
}
