@namespace Lumeo

<button class="@CssClass" @onclick="OnClose" @attributes="AdditionalAttributes">
    <Blazicon Svg="Lucide.X" class="h-4 w-4" />
</button>

@code {
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => $"absolute right-1 top-1 rounded-md p-1 opacity-0 transition-opacity group-hover:opacity-100 hover:opacity-100 focus:outline-none focus:ring-1 {Class}".Trim();
}
