@namespace Lumeo

@if (Orientation == SeparatorOrientation.Horizontal)
{
    <div role="none" class="@($"shrink-0 bg-border h-px w-full {Class}")".Trim() @attributes="AdditionalAttributes"></div>
}
else
{
    <div role="none" class="@($"shrink-0 bg-border h-full w-px {Class}")".Trim() @attributes="AdditionalAttributes"></div>
}

@code {
    [Parameter] public SeparatorOrientation Orientation { get; set; } = SeparatorOrientation.Horizontal;
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    public enum SeparatorOrientation { Horizontal, Vertical }
}
