@namespace Lumeo

<div class="@($"{PadClass} {Class}".Trim())" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [CascadingParameter] private Lumeo.Density? Density { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string PadClass => Density switch
    {
        Lumeo.Density.Compact => "p-4 pt-0",
        Lumeo.Density.Spacious => "p-8 pt-0",
        _ => "p-6 pt-0"
    };
}
