<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumeo Server Latency Leg</title>
    <base href="/" />
    <link rel="stylesheet" href="_content/Lumeo/css/lumeo-utilities.css" />
    <link rel="stylesheet" href="_content/Lumeo/css/lumeo.css" />
    <link rel="stylesheet" href="_content/Lumeo.Gantt/css/lumeo-gantt.css" />
    <script src="_content/Lumeo/js/theme.js"></script>
    <HeadOutlet />
</head>
<body class="bg-background text-foreground">
    <Routes @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
