@namespace Lumeo

@if (IsOpen)
{
    <div class="@CssClass" @attributes="AdditionalAttributes">
        <div class="pb-4 pt-0">
            @ChildContent
        </div>
    </div>
}

@code {
    [CascadingParameter] public Accordion.AccordionContext Context { get; set; } = default!;
    [CascadingParameter] public AccordionItem.AccordionItemContext ItemContext { get; set; } = default!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private bool IsOpen => Context.IsOpen(ItemContext.Value);

    private string CssClass => $"overflow-hidden text-sm animate-accordion-down {Class}".Trim();
}
