@namespace Lumeo

<div class="@CssClass" @attributes="AdditionalAttributes">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <span>No results found.</span>
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => $"py-6 text-center text-sm text-muted-foreground {Class}".Trim();
}
