@namespace Lumeo

@if (Context.IsOpen)
{
    <div class="@CssClass" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
}

@code {
    [CascadingParameter] public Collapsible.CollapsibleContext Context { get; set; } = default!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => $"animate-accordion-down overflow-hidden {Class}".Trim();
}
