@namespace Lumeo

<div class="@CssClass" @onclick="Context.Toggle" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [CascadingParameter] public Collapsible.CollapsibleContext Context { get; set; } = default!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => $"cursor-pointer {Class}".Trim();
}
