@namespace Lumeo

<div class="@CssClass" role="none" @attributes="AdditionalAttributes"></div>

@code {
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => $"-mx-1 my-1 h-px bg-border {Class}".Trim();
}
