@namespace Lumeo

@{
    var context = new ContextMenuRadioGroupContext(Value, EventCallback.Factory.Create<string>(this, OnValueSelected));
}

<CascadingValue Value="context" IsFixed="false">
    <div role="group" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>

@code {
    /// <summary>The group's <see cref="ContextMenuRadioItem"/>s.</summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }
    /// <summary>The currently-selected item's value.</summary>
    [Parameter] public string? Value { get; set; }
    /// <summary>Invoked when a different <see cref="ContextMenuRadioItem"/> is selected.</summary>
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    /// <summary>Additional HTML attributes captured and forwarded to the <c>role="group"</c> wrapper.</summary>
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private async Task OnValueSelected(string value)
    {
        Value = value;
        await ValueChanged.InvokeAsync(value);
    }

    public record ContextMenuRadioGroupContext(string? Value, EventCallback<string> OnSelect);
}
