@namespace Lumeo

<h2 id="@Context.TitleId" class="@CssClass" @attributes="AdditionalAttributes">
    @ChildContent
</h2>

@code {
    [CascadingParameter] public Drawer.DrawerContext Context { get; set; } = default!;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => $"text-lg font-semibold leading-none tracking-tight {Class}".Trim();
}
