@namespace Lumeo

@{
    var context = new TimelineContext(Orientation);
}

<div class="@CssClass" @attributes="AdditionalAttributes">
    <CascadingValue Value="context" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public TimelineOrientation Orientation { get; set; } = TimelineOrientation.Vertical;
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private string CssClass => Orientation switch
    {
        TimelineOrientation.Horizontal => $"flex flex-row items-start {Class}".Trim(),
        _ => $"flex flex-col {Class}".Trim()
    };

    public enum TimelineOrientation { Vertical, Horizontal }

    public record TimelineContext(TimelineOrientation Orientation);
}
